autopep8
black
bokeh
bottle
cffi
click
cmake
colorama
cysignals
Cython
docutils
flake8
Flask
Glances
graphviz
gunicorn
httpie
imageio
ipympl
ipywidgets
isort
jmespath
joblib
jupyter
jupyterlab
loguru
matplotlib
msgpack
msgpack-numpy
mypy
nbdime
nbresuse
netifaces
nox
pandas
Pillow
pipenv
pipreqs
pip-tools
poetry
prophet
pycodestyle
py-cpuinfo
pydocstyle
pylint
pymdstat
pytest
python-crontab
regex
scikit-image
scikit-learn
seaborn
simplejson
sortedcontainers
tabulate
toolz
tox
twine
uvicorn
virtualenv
virtualenvwrapper